.wrapper {
    
    z-index: 0;
 
    display: grid;
    grid-template-columns:
      1fr
      min(65ch, 100%)
      1fr;
  }
  .wrapper > * {


    display: grid;
    grid-template-columns: 1fr min(800px, calc(100% - 60px)) 1fr;
    grid-column-gap: 30px;
  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }


  .contact-container{
    
  width: 100vw;
  height: auto;
   
  background-image: url('../images/sand_bg.jpg');
  background-size: cover;
  background-position:center;
  background-attachment:fixed;


  }

  .form-container{
    color: rgba(68, 31, 4, 0.658);
    background-color:rgba(177, 132, 93, 0.288);
    
    padding-top:2rem;
    width:100%;
    font-family:fantasy;

    display:flex;
    flex-direction:column;
    align-items: center;

  }

  .form{
   
    color: rgba(22, 9, 0, 0.658);
    padding:2rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:10px;
    width:100%;
 
  }

 

  .input-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
     width:90%;
    min-height:30vh;
  }

  .input-form{
    display:flex;
    align-items: center;
    justify-content: start;
    gap:20px;
    width:100%;
    
  }
  
  textarea,[type=text], [type=email], [type=date] {
    width:90%;
    min-width:100px;
    border-radius: 5px;;
    border:none;
    height: 2rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #6b3400e8;
    border:1px solid #5AB0DB;
  }

  #datePicker{
    align:Center;
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
    gap:20px;
    width:70%;
  }

  #message{
    width:90%;
    height:300px;
    vertical-align: top;
  }
  
  label{

  }
 
  button{
    border-radius: 5px;
    margin: 20px ;
  }
/*
  button:hover{
    width:100px;
    height:2rem;
    background-color:none;
    border-radius: 5px;;
    border:none;
    color: rgba(68, 31, 4, 0.658);
    background-color:rgba(177, 132, 93, 0.288);
    border:3px solid rgba(124, 69, 5, 0.349);
    font-family:fantasy;
    margin: 10px ;
  }
*/
  .pushable {
    background: hsl(46, 79%, 19%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 5px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(22, 21%, 44%);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }


  @media only screen and (max-width: 600px) { /*   small screen remove naav bar              */
    .input-form{
        display:flex;
        flex-direction: column;
       
        gap:5px;
        width:100%;
      }

      #datePicker{
        align:Center;
        display:flex;
        flex-direction:column ;
        justify-content: space-around;
        gap:10px;
        align-items: center;
      }
}


textarea:focus,[type=text]:focus, [type=email]:focus, [type=date]:focus, input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px #6b3400e8;
    border:2px solid #c77700;
}
input[type="text"]:sleceted {
    outline: none;
    box-shadow: 0px 0px 5px #373d00;
    border:1px solid #ffd900;
    border-radius:2px;
}


[type=text]:invalid, [type=email]:invalid, [type=date]:invalid, input[type="text"]:invalid {
  outline: none;
  box-shadow: 0px 0px 5px #6b3400e8;
  border:3px solid #c70000;
}

[type=text]:valid, [type=email]:valid, [type=date]:valid, input[type="text"]:valid {
  outline: none;
  box-shadow: 0px 0px 5px #6b3400e8;
  border:2px solid #108a00;
}

#maps{

  height:40vh;
  width: 100%;
}
