/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Meyer Resets */

h2{
    font-size: 2rem;
}




/*---------------------------------Light/Dark presets-----------------------------------*/
:root.dark{
    --color-base-bg:rgb(29, 28, 28);
    --color-border-btn:1px solid white;
    --color-btn-bg: 1px gray;
    --color-base-text: white;
}   

:root.light{
    --color-base-bg:rgb(231, 231, 231);
    --color-border-btn:1px solid rgb(37, 37, 37);
    --color-btn-bg: 1px rgb(204, 204, 204);
    --color-base-text: rgb(0, 0, 0);
}



/*---------------------------------Banner above navBar-----------------------------------*/
:root{
    background:rgb(29, 28, 28);
    position:relative;
    overflow-x: hidden;
    max-width:100wh;

}

.content{
    position:sticky;
    height:100%;
}

.banner-container{

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  
    gap:20px;

    width: 100vw;
    height: 100vh;
    background-image: url('./images/banner_sunset.png');
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
}

.welcome{
    text-align:center;
    position: relative;
    top:-80px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:30vh;
    width:90vw;
    color:white;
    font-size:45px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 5px 2px #1f1f1fd7, 6px 5px 12px rgba(184, 184, 184, 0.568);
}

.search{
    position: relative;
    top:-100px;
    background-image: linear-gradient(to bottom, rgba(170, 232, 248, 0.651), rgba(207, 106, 10, 0.582));
    border: 0px solid yellow;
    text-align: center;
    height:20vh;
    width:70vw;
    border-radius:20px;
}


.divider{
    background-image: linear-gradient(to bottom, rgba(218, 204, 7, 0.349), rgba(190, 141, 5, 0.829)40%);
height:3vh;
width:100vw;
}

/*---------------------------------NavBar-----------------------------------*/
.navBar-initial { /*Navigation Bar*/ 
    box-sizing: border-box;
    Display:flex;
    justify-content: Center;
    align-items:stretch;
    Margin:0px;
    justify-content: space-between;
    border: 0px solid green;
    flex:1;
    flex-basis:auto;
    color:white;
    position:sticky;
    top: 0;
    bottom:25px;
    background-image: linear-gradient(to bottom, rgba(218, 204, 7, 0.349), rgba(190, 141, 5, 0.829)40%);
    Height: 45px;
    width:100vw;
    z-index:1;
}

.navBar-up { /*Navigation Bar*/ 
    box-sizing: border-box;
    Display:flex;
    justify-content: Center;
    align-items:stretch;
    Margin:0px;
    justify-content: space-between;
    border: 0px solid green;
    flex:1;
    flex-basis:auto;
    
    position:sticky;
    top: 0;
    bottom:25px;
    background-image: linear-gradient(to bottom, rgba(218, 204, 7,1), rgba(190, 141, 5, 1)40%);
    Height: 40px;
    width:100vw;
    transition:height 0.5s;
}


.navBar-down { /*Navigation Bar*/ 
    box-sizing: border-box;
    Display:flex;
    justify-content: Center;
    Margin:0px;
    justify-content: space-between;
    border: 0px solid green;
    flex:1;
    flex-basis:auto;
    
    position:sticky;
    top: 0;

    background-image: linear-gradient(to bottom, rgb(218, 203, 7), rgb(221, 162, 0)40%);
    Height: 30px;
    width:100vw;
    transition:height 0.5s;
}


/* Logo Stuffs*/
.logo-container{
    align-self:center;
    transition: width 1s;
    min-width:80px;
    max-width:180px;
    border: 0px solid green;
    text-align: center;
    }
.logo {
    border: 0px solid red;
    width:100%;
    height:auto;
    color:white;
    transition:  0.5s;
}
.logo-down{
    border: 0px solid blue;
    width:50%;
    height:auto;
    color:white;
    transition:0.5s;
    }



/*Page stuffs */ 
.Pages{
    display:flex;
  align-self:stretch;
}

.Pages ul {   /*Page Conatiner */ 
    align-self:stretch;
    border: 0px solid green;
    display:flex;

    width: 40rem;
}

.Pages ul > li {   /*Page links*/ 
    display:flex;
    align-items: center;
    align-self:stretch;
    list-style-type: none;
} 
.Pages ul > li > a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #d9d9d9;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);

    font-family: Arial, sans-serif; /* Font family with fallback */
    font-size: 14px;
    font-weight: bold;
}


.Pages ul > li:hover{
box-sizing: border-box;
border-bottom:4px solid maroon;
transition: 0.3s;
}

.current-tab{
    background-color:maroon;
    color:white;
    }

.Pages ul > li:hover a{
    color:white;
    transition: 0.3s;
    }

.theme{
    align-self: center;;
    border: 1px solid blue;
    Padding:10px;
}

/*end of navBar*/

/*---------------------------------Home-----------------------------------*/
.home-container{
    padding: 1em;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.home-content{
    color:white;
    font-size:45px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 5px 2px #0c0c0c, 6px 5px 12px rgba(184, 184, 184, 0.418);
}
/*---------------------------------SLIDES-----------------------------------*/
.slider-wrapper{
    position:relative;
    max-width:700px;
    margin:0 auto;
    border-radius:  rem;
    
}

.slider{
    
    display: flex;
    height:100vh;
    width:40wh;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.5rem #0c0c0c21, 6px 5px 12px rgba(184, 184, 184, 0.418);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
  /*  object-fit: cover;*/

}

.slider-nav {
    display:flex;
    column-gap:1 rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index:0;
    gap:20px;
}

.slider-nav a{
    border:1px solid rgb(155, 0, 0);

    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
    background-color: yellow;

}






.about-container{
    background-color: rgb(234, 245, 187);
    /*background-image: url('./images/st.dominic.png');
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
*/

background-image: url('./images/banner_sunset.png');
background-size: cover;
background-position:center;
background-attachment:fixed;

    width: 100vw;
    height: 100vh;

    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.about-content{ /*CONTAINER*/
   
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    min-width: 800px;
    height:90vh;
    color:rgb(0, 0, 0);
    font-size:1rem;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-details{ /*white body*/
    background-color: rgb(255, 255, 255);
    width: 70%;
    height:100%;  
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    overflow:hidden;
}
    .about-paragraph{ /*WORDS*/
    margin:3rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: baseline;
    height:80vh;  
    
    }
    .accreditations{
        overflow:hidden;
        max-width:px;
        margin:auto;
        flex:1;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items:center;

    }
        .abt-logo{
            margin:auto;
            display:flex;
            justify-content: center;
            flex:1;
            flex-basis:0;
            max-width:200px;
            max-height:100px;
        }
        

.about-portait{
    background-image: url('./images/st.dominic.png');
    background-size: cover;
    background-position:center;
    overflow:hidden;
    display:flex;

    height:100%;
    width: 40%;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
}



/*services-----------------------------------------------*/

.services-container-bg{
    
    background-size: cover;
    background-attachment:fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 25vh;
}
.services-container{
    background-image: url('./images/clark.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
   
}
.services-content{ /*title*/
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:2em;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
    text-shadow: 3px 2px 2px #0c0c0c, 6px 5px 12px rgba(184, 184, 184, 0.418);


}

#services-container{/*CONTAINER*/
padding:2em;
background-image: linear-gradient(to bottom, rgba(240, 205, 9, 0.87), rgba(216, 214, 86, 0.863));
width: 100%;
height:50vh;  
overflow:hidden;
}

.services-list-box{

    display:flex;
    flex-wrap: wrap;
    flex:auto;
    height:80%;
    gap:20px;
    align-items: center;
    justify-content: space-around
    
}

#services-list{
    display:flex;

    gap:20px;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 10em; 
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size:1em;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 3px 2px #00000044, 6px 5px 12px rgba(0, 0, 0, 0.718);
}   

#services-logo{
    color:rgb(255, 255, 255);
    font-size:60px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.1s ease-in-out;
    text-shadow: 3px 5px 2px #0c0c0c, 6px 5px 12px rgba(184, 184, 184, 0.418);
}

#services-logo:hover {
    transform: scale(1.2);
    transition: height 0.5s;
  }


/*--updates css-----------------------------------------------------------------------------------*/
.updates-container{
    background-color: rgb(255, 174, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;

    width: 100vw;
    height: 100vh;
    background-image: url('./images/banner_sunset.png');
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
}
.updates-content{
    color:white;
    font-size:45px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 5px 2px #0c0c0c, 6px 5px 12px rgba(184, 184, 184, 0.418);
}



.updates-title{
    color:white;
    font-size:35px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 5px 2px #1f1f1fd7, 6px 5px 12px rgba(184, 184, 184, 0.568);
}


.fb-container{
    
    display:flex;
    text-align:center;
    margin:10px;
    width:100vw;
    overflow:hidden;
    background-image: linear-gradient(to bottom, rgba(170, 232, 248, 0.651), rgba(207, 106, 10, 0.582));
    border: 0px solid yellow;
}

.fb-page{
    width:300%;
    height:100%;
}

.updates-info{
    border:2px solid maroon;
    margin:1rem;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height:100%;
    width:100%;
    color:white;
    font-size:35px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 5px 2px #1f1f1fd7, 6px 5px 12px rgba(184, 184, 184, 0.568);
}


/*--destinations css-----------------------------------------------------------------------------------*/
.destinations-container{
    background-color: rgb(255, 174, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;

    width: 100vw;
    height: 100vh;
    background-image: url('./images/banner_sunset.png');
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
}
.destinations-content{
    color:white;
    font-size:45px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 5px 2px #0c0c0c, 6px 5px 12px rgba(184, 184, 184, 0.418);
}



.destinations-title{
    color:white;
    font-size:35px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 5px 2px #1f1f1fd7, 6px 5px 12px rgba(184, 184, 184, 0.568);
}


.promo-container{
    
    display:flex;
    text-align:center;
    margin:10px;
    width:100vw;
    overflow:hidden;
    background-image: linear-gradient(to bottom, rgba(170, 232, 248, 0.651), rgba(207, 106, 10, 0.582));
    border: 0px solid yellow;
}





